* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  margin: 0px;
}

h3 {
  margin: 0px;
  font-weight: bold;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #F5EDED;
  stroke-width: 1.5px;
  fill: none;
  stroke-linecap: round; /*esta y la propiedad de abajo le dan el redondeado a los bordes*/
  stroke-linejoin: round;
}

nav {
  z-index: 1000;
}

.navegador {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
  align-items: center;
  width: 100%;
  background-color: #212121;
  position: sticky;
  top: 0px;
}
@media (max-width: 768px) {
  .navegador {
    position: sticky;
    top: 0px;
    height: 40px;
    align-items: center;
    padding: 0px 20px;
  }
}
.navegador .icono-menu {
  display: none;
}
@media (max-width: 768px) {
  .navegador .icono-menu {
    display: block;
  }
}
.navegador .inicio-contacto {
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0px;
}
@media (max-width: 768px) {
  .navegador .inicio-contacto {
    position: fixed;
    top: 0px;
    left: -300px;
    width: 250px;
    height: 100vh;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    background-color: #939393;
    padding: 20px 0px 0px 20px;
    transition: 1s;
  }
}
.navegador .inicio-contacto li {
  list-style: none;
}
.navegador .inicio-contacto .letras-enlaces-navegador {
  font-size: 16px;
  color: #F5EDED;
  padding: 10px;
}
@media (max-width: 768px) {
  .navegador .inicio-contacto .letras-enlaces-navegador {
    color: #000000;
    padding: 0px;
    margin: 0px;
  }
}
.navegador .inicio-contacto .inicio-navegador {
  margin-right: 15px;
}
.navegador .inicio-contacto .letras-usuario {
  display: none;
  padding-top: 0px;
}
@media (max-width: 768px) {
  .navegador .inicio-contacto .letras-usuario {
    display: block;
  }
}
.navegador .buscador-carrito-usuario .carrito, .navegador .lupa {
  margin-right: 15px;
}
.navegador ul:hover {
  left: 0px;
}

@media (max-width: 768px) {
  .usuario {
    display: none;
  }
  .navegador .icono-menu:hover + ul {
    left: 0px;
  }
  .buscador-carrito-usuario .carrito {
    margin-right: 0px;
  }
}
.d-block {
  height: 400px;
  width: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .d-block {
    height: 300px;
    width: 100%;
    object-fit: contain;
  }
}
@media (max-width: 576px) {
  .d-block {
    height: 200px;
    width: 100%;
    object-fit: contain;
  }
}

.cajas-todos-productos {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .cajas-todos-productos {
    padding: 30px;
  }
}
@media (max-width: 576px) {
  .cajas-todos-productos {
    padding: 5px;
  }
}

.caja-producto {
  border: 2px solid #212121;
  width: 250px;
  height: 300px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .caja-producto {
    width: 225px;
    height: 275px;
  }
  .caja-producto p {
    font-size: 14px;
  }
  .caja-producto h3 {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .caja-producto {
    width: 180px;
    height: 220px;
    margin: 10px;
  }
  .caja-producto p {
    font-size: 12px;
  }
  .caja-producto h3 {
    font-size: 18px;
  }
}
.caja-producto .imagen-caja-producto {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .caja-producto .imagen-caja-producto {
    width: 175px;
    height: 175px;
  }
}
@media (max-width: 576px) {
  .caja-producto .imagen-caja-producto {
    width: 150px;
    height: 150px;
  }
}

.categorias-productos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #212121;
}

.imagen-categoria {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: 1px solid #000000;
  margin: 15px 0px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .imagen-categoria {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin: 15px 0px;
    object-fit: cover;
  }
}
@media (max-width: 576px) {
  .imagen-categoria {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin: 15px 0px;
    object-fit: cover;
  }
}
.enlace-whatsapp {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.enlace-whatsapp img {
  width: 40px;
  object-fit: cover;
}

.footer__componentes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px;
  grid-template-areas: "ubicacion-horario mapa tarjeta-envios";
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-items: center;
  background-color: #000000;
  color: #F5EDED;
  font-size: 12px;
}
@media (max-width: 768px) {
  .footer__componentes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "ubicacion-horario mapa" "tarjeta tarjeta";
    gap: 10px;
    padding: 10px;
    justify-items: center;
    align-items: center;
    background-color: #000000;
    color: #F5EDED;
    font-size: 10px;
  }
}
.footer__componentes .footer__componentes--ubicacion-horario {
  grid-area: ubicacion-horario;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  text-align: center;
}
@media (max-width: 768px) {
  .footer__componentes .footer__componentes--ubicacion-horario {
    grid-area: ubicacion-horario;
    width: auto;
  }
}
@media (max-width: 768px) {
  .footer__componentes .footer__componentes--ubicacion-horario .footer__horario {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .footer__componentes .footer__componentes--ubicacion-horario .footer__horario {
    width: 150px;
  }
}
.footer__componentes .footer__componentes--mapa {
  grid-area: mapa;
  width: 200px;
  height: 100px;
}
@media (max-width: 768px) {
  .footer__componentes .footer__componentes--mapa {
    grid-area: mapa;
    width: auto;
  }
}
@media (max-width: 768px) {
  .footer__componentes .footer__mapa {
    width: 150px;
  }
}

.footer__componentes--tarjeta-envios {
  grid-area: tarjeta-envios;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  text-align: center;
}
@media (max-width: 768px) {
  .footer__componentes--tarjeta-envios {
    grid-area: tarjeta;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .footer__componentes--tarjeta-envios .footer__tarjeta {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .footer__componentes--tarjeta-envios .footer__envios {
    width: 150px;
  }
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: #000000;
  color: #F5EDED;
  border-radius: 5px;
}

.boton-eliminar {
  width: 80px;
  height: 20px;
  font-size: 10px;
}
@media (max-width: 768px) {
  .boton-eliminar {
    width: 60px;
  }
}
@media (max-width: 576px) {
  .boton-eliminar {
    width: 40px;
    font-size: 8px;
  }
}

.boton-pagar {
  width: 150px;
  height: 30px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .boton-pagar {
    width: 100%;
    font-size: 16px;
  }
}

.boton-comprar, .boton-agregar {
  width: auto;
  height: 30px;
}
@media (max-width: 768px) {
  .boton-comprar, .boton-agregar {
    font-size: 16px;
  }
}

.sub-titulo-formulario {
  text-align: center;
  font-size: 20px;
  color: #212121;
  padding-top: 40px;
}

.contenedor-formulario-contacto {
  display: flex;
  justify-content: center;
  margin: 30px 0px 250px 0px;
}

.formulario-contacto {
  width: 700px;
}

@media (max-width: 768px) {
  .formulario-contacto {
    width: 500px;
  }
}
@media (max-width: 568px) {
  .formulario-contacto {
    width: 400px;
  }
}
.campo-formulario {
  width: 100%;
  padding-top: 30px;
  border: 0;
  border-bottom: 1px solid #000000;
  outline: none; /* esto es para sacarle el focus al campo del formulario*/
}

.contenedor-botones {
  display: flex;
  justify-content: right;
}

.boton-formulario-consulta {
  width: 70px;
  height: 25px;
  padding: 5px;
  margin: 6px;
}

.titulo {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #F5EDED;
  background-color: #000000;
  padding: 20px 0px;
  margin: 0px;
}

.sub-titulo-productos-destacados {
  color: #F5EDED;
  background-color: #000000;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0px;
  font-size: 24px;
}

.titulo-secundario {
  background-color: #000000;
  color: #F5EDED;
  text-align: center;
  padding: 20px 0px;
  text-transform: uppercase;
  font-size: 24px;
}

.main-mates {
  display: flex;
  justify-content: space-around;
}
.main-mates .contenedor-filtros-productos {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 0px 20px;
}
@media (max-width: 768px) {
  .main-mates .contenedor-filtros-productos {
    flex-direction: column;
    padding: 0px;
    margin: 10px 0px 0px 10px;
    width: 100%;
  }
}
.main-mates .contenedor-filtros-productos .dropdown {
  display: none;
}
@media (max-width: 768px) {
  .main-mates .contenedor-filtros-productos .dropdown {
    display: block;
  }
  .main-mates .contenedor-filtros-productos .dropdown button {
    color: #F5EDED;
    background-color: #212121;
  }
  .main-mates .contenedor-filtros-productos .dropdown .dropdown-menu {
    padding: 15px;
  }
  .main-mates .contenedor-filtros-productos .dropdown h4 {
    font-size: 14px;
    border-bottom: 1px solid #212121;
  }
  .main-mates .contenedor-filtros-productos .dropdown label {
    font-size: 12px;
  }
  .main-mates .contenedor-filtros-productos .dropdown .capacidad, .main-mates .contenedor-filtros-productos .dropdown .material {
    margin-top: 10px;
  }
}
.main-mates .contenedor-filtros-productos .filtros {
  width: 250px;
  padding: 10px;
  margin-top: 20px;
  height: max-content;
  border: 1px solid #000000;
  border-radius: 5px;
}
.main-mates .contenedor-filtros-productos .filtros h3 {
  font-size: 20px;
}
.main-mates .contenedor-filtros-productos .filtros h4 {
  margin: 10px;
  font-size: 18px;
}
.main-mates .contenedor-filtros-productos .filtros label {
  font-size: 16px;
}
@media (max-width: 768px) {
  .main-mates .contenedor-filtros-productos .filtros {
    display: none;
  }
}
.main-mates .contenedor-filtros-productos .filtros .contenedor-filtros {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.main-mates .contenedor-filtros-productos .contenedor-productos {
  margin: 10px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .main-mates .contenedor-filtros-productos .contenedor-productos {
    justify-content: space-evenly;
    margin: 0px;
  }
}

.contenedor-todo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.contenedor-todo .contenedor-imagenes-panel {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contenedor-todo .contenedor-imagenes-panel {
    flex-direction: column;
  }
}
.contenedor-todo .contenedor-imagenes-panel .contenedor-imagenes {
  display: flex;
}
@media (max-width: 768px) {
  .contenedor-todo .contenedor-imagenes-panel .contenedor-imagenes {
    justify-content: space-around;
  }
}
.contenedor-todo .contenedor-imagenes-panel .contenedor-imagenes .miniaturas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.contenedor-todo .contenedor-imagenes-panel .contenedor-imagenes .miniaturas img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #212121;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .contenedor-todo .contenedor-imagenes-panel .contenedor-imagenes .miniaturas img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 576px) {
  .contenedor-todo .contenedor-imagenes-panel .contenedor-imagenes .miniaturas img {
    width: 50px;
    height: 50px;
  }
}
.contenedor-todo .contenedor-imagenes-panel .contenedor-imagenes .producto-foto-principal {
  width: 600px;
  height: 600px;
  object-fit: cover;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .contenedor-todo .contenedor-imagenes-panel .contenedor-imagenes .producto-foto-principal {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 576px) {
  .contenedor-todo .contenedor-imagenes-panel .contenedor-imagenes .producto-foto-principal {
    width: 300px;
    height: 300px;
    margin: 0px;
  }
}
.contenedor-todo .contenedor-imagenes-panel .panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 500px;
  border: 1px solid #212121;
  border-radius: 5px;
  padding: 10px;
}
@media (max-width: 768px) {
  .contenedor-todo .contenedor-imagenes-panel .panel {
    width: auto;
    height: auto;
  }
}
.contenedor-todo .contenedor-imagenes-panel .panel .titulo-precio {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .contenedor-todo .contenedor-imagenes-panel .panel .titulo-precio {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
  }
}
.contenedor-todo .contenedor-imagenes-panel .panel .titulo-precio h3 {
  font-size: 20px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .contenedor-todo .contenedor-imagenes-panel .panel .titulo-precio h3 {
    font-size: 16px;
  }
}
.contenedor-todo .contenedor-imagenes-panel .panel .titulo-precio a {
  font-size: 10px;
  color: #939393;
}
@media (max-width: 768px) {
  .contenedor-todo .contenedor-imagenes-panel .panel .titulo-precio a {
    display: none;
  }
}
@media (max-width: 768px) {
  .contenedor-todo .contenedor-imagenes-panel .panel .contenedor-cantidad-botones label {
    font-size: 14px;
  }
}
.contenedor-todo .contenedor-imagenes-panel .panel .contenedor-cantidad-botones input {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border: 0;
  border: 1px solid #000000;
  margin-left: 20px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .contenedor-todo .contenedor-imagenes-panel .panel .contenedor-cantidad-botones input {
    font-size: 12px;
    width: 60px;
    height: 20px;
  }
}
.contenedor-todo .contenedor-imagenes-panel .panel .contenedor-cantidad-botones .boton-comprar-agregar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descripcion {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.descripcion div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  border: 1px solid #212121;
  border-radius: 5px;
  padding: 10px;
}
.descripcion h3 {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .descripcion h3 {
    font-size: 16px;
  }
}
.descripcion p {
  padding-left: 10px;
}
@media (max-width: 768px) {
  .descripcion p {
    font-size: 12px;
  }
}

.contenedor-productos-carrito-totales {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  padding: 40px 0px;
}
.contenedor-productos-carrito-totales .producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .contenedor-productos-carrito-totales .producto {
    width: 90%;
  }
}
.contenedor-productos-carrito-totales .producto .imagen-titulo {
  display: flex;
  flex-direction: row;
}
.contenedor-productos-carrito-totales .producto .imagen-titulo img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  padding: 5px;
}
@media (max-width: 768px) {
  .contenedor-productos-carrito-totales .producto .imagen-titulo img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 576px) {
  .contenedor-productos-carrito-totales .producto .imagen-titulo img {
    width: 75px;
    height: 75px;
  }
}
.contenedor-productos-carrito-totales .producto .imagen-titulo p {
  width: 350px;
  margin: 10px;
}
@media (max-width: 768px) {
  .contenedor-productos-carrito-totales .producto .imagen-titulo p {
    width: 250px;
    font-size: 12px;
    margin: 5px;
  }
}
@media (max-width: 576px) {
  .contenedor-productos-carrito-totales .producto .imagen-titulo p {
    width: 150px;
  }
}
.contenedor-productos-carrito-totales .producto .cantidad-boton-eliminar {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.contenedor-productos-carrito-totales .producto .cantidad-boton-eliminar input {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border: 0;
  border: 1px solid #000000;
}
@media (max-width: 768px) {
  .contenedor-productos-carrito-totales .producto .cantidad-boton-eliminar input {
    width: 60px;
    height: 20px;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .contenedor-productos-carrito-totales .producto .cantidad-boton-eliminar input {
    width: 40px;
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .contenedor-productos-carrito-totales .producto .cantidad-boton-eliminar {
    align-items: flex-start;
  }
}
.contenedor-productos-carrito-totales .producto .precio-cuotas {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.contenedor-productos-carrito-totales .producto .precio-cuotas p {
  color: #939393;
  font-size: 10px;
}
@media (max-width: 576px) {
  .contenedor-productos-carrito-totales .producto .precio-cuotas p {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  .contenedor-productos-carrito-totales .producto .precio-cuotas h3 {
    font-size: 14px;
  }
}

.contenedor-totales {
  display: flex;
  justify-content: right;
  flex-direction: column;
  width: 80%;
  align-items: end;
  gap: 10px;
  margin-top: 100px;
}
@media (max-width: 576px) {
  .contenedor-totales {
    width: 90%;
  }
  .contenedor-totales h3 {
    font-size: 16px;
  }
}
.contenedor-totales .totales {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .contenedor-totales .totales {
    justify-content: space-between;
  }
}
.contenedor-totales .envio-total {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 10px;
}
@media (max-width: 768px) {
  .contenedor-totales .envio-total {
    text-align: left;
  }
}
.contenedor-totales .precios {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 10px;
}

/*# sourceMappingURL=style.css.map */
