.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: $color-negro;
    color: $color-blanco;
    border-radius: 5px;
}
.boton-eliminar{
    width: 80px;
    height: 20px;
    font-size: 10px;
}
.boton-pagar{
    width: 150px;
    height: 30px;
    font-size: 20px;
}
.boton-comprar, .boton-agregar{
    width: auto;
    height: 30px;
}