.categorias-productos{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: $color-gris;
}
.imagen-categoria{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 1px solid $color-negro;
    margin: 15px 0px;
    object-fit: cover;
}
@media (max-width: 768px){
    .imagen-categoria{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 1px solid $color-negro;
        margin: 15px 0px;
        object-fit: cover;
    }
}
@media (max-width: 576px){
    .imagen-categoria{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 1px solid $color-negro;
        margin: 15px 0px;
        object-fit: cover;
    }
}