.categorias-productos{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: $color-gris;
    background-image: linear-gradient(to bottom, $color-gris, $color-gris, $color-negro);
        .imagen-categoria{
        height: 125px;
        width: 125px;
        border-radius: 50%;
        border: 1px solid $color-negro;
        margin: 15px 0px;
        object-fit: cover;
        &:hover{
            transform: scale(1.1);
            transition: 0.25s;
            
        }
        @media (max-width: 768px){
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 1px solid $color-negro;
            margin: 15px 0px;
            object-fit: cover;
        }
        @media (max-width: 576px){
            height: 80px;
            width: 80px;
            border-radius: 50%;
            border: 1px solid $color-negro;
            margin: 15px 0px;
            object-fit: cover;
        }
    }
}

