.main-mates{
    display: flex;
    justify-content: space-around;
    .contenedor-filtros-productos{
        margin: 10px;
        display: flex;
        justify-content: space-around;
        width: 90%;
        padding: 0px 20px;
        @media (max-width: 768px){
            flex-direction: column;
            padding: 0px;
            width: 95%;
        }
        .dropdown{
            display: none;
            @media (max-width: 768px){
                button{
                    color: $color-blanco;
                    background-color: $color-gris;
                }
                display: block;
                .dropdown-menu{
                    padding: 15px;
                }
                h4{
                    font-size: 14px;
                    border-bottom: 1px solid $color-gris;
                }
                label{
                    font-size: 12px;
                }
                .capacidad, .material{
                    margin-top: 10px;
                }
            }
        }
        .filtros{
            width: 250px;
            padding: 10px;
            margin-top: 20px;
            height:max-content;
            border: 1px solid $color-negro;
            border-radius: 5px;
            h3{
                font-size: 20px;
            }
            h4{
                margin: 10px;
                font-size: 18px;
            }
            label{
                font-size: 16px;
            }
            @media (max-width: 768px){
                display: none;
            }
            .contenedor-filtros{
                display: flex;
                flex-direction: column;
                margin: 10px;
            }
        } 
        .contenedor-productos{
            margin: 10px;
            width: auto;
            display: flex;
            flex-wrap: wrap;
            @media (max-width: 768px){
                justify-content: space-evenly;
            }
        }
    }
}





